$color-main-purle: #635fc7;
$color-black: #000112;
$color-very-dark-grey-dark: #20212c;
$color-dark-grey: #2b2c37;
$color-medium-grey: #828fa3;
$color-white: #ffffff;
$color-lines-light: #e4ebfa;
$color-lines-dark: #3e3f4e;
$color-light-blue: #e9effa;
