* {
  font-family: sans-serif;
  font-style: normal;
  line-height: normal;
}

.heading-xl {
  font-size: 24px;
  font-weight: 700;
}

.heading-l {
  font-size: 18px;
  font-weight: 700;
}

.heading-m {
  font-size: 15px;
  font-weight: 700;
  font-weight: 500;
  line-height: 23px;
}

.heading-s {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
}

.body-l {
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
}

.body-m {
  font-size: 12px;
  font-weight: 700;
}
