button,
input[type='submit'] {
  border: none;
}

.button-rounded {
  padding: 15px 24px;
  border-radius: 24px;
}

.is-loading {
  pointer-events: none;
  opacity: 0.5;
}

.is-disable {
  pointer-events: none;
  opacity: 0.5;
}

button {
  cursor: pointer;
}

.flex {
  display: flex;

  &__alignCenter {
    align-items: center;
  }
}

.form-div {
  position: relative;
  height: auto;
  margin-bottom: 24px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
}

input[type='text'],
textarea {
  border-radius: 4px;
  border: 1px solid rgba(130, 143, 163, 0.25);
  padding: 10px 15px;
}

.error-message {
  position: absolute;
  top: 0;
  right: 4px;
}

.radius-20 {
  border-radius: 20px;
}
