.header-container {
  display: flex;
  width: 100%;
  height: 96px;

  .left-part {
    width: 300px;
    height: 96px;
  }

  img {
    margin: auto;
  }

  .right-part {
    width: calc(100% - 300px);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 34px 0 24px;
  }

  .add-new-task-button {
    margin: 0 24px 0 auto;
    background-color: red;
  }

  .settings {
    z-index: 1;
    position: absolute;
    right: 24px;
    top: 90px;
    width: 192px;
    height: auto;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;

    button {
      width: 100%;
      background: transparent;
    }
  }
}
