.column-board-container {
  width: 100%;
  position: relative;
  overflow-x: scroll;
  padding: 25px;
  gap: 24px;

  .new-column {
    width: 280px;
    min-width: 280px;
    border-radius: 6px;
  }
}
